/SmallVideoDemo/.vs/
/SmallVideoDemo/Debug/
/SmallVideoDemo/x64/
/SmallVideoDemo/SmallVideoDemo.VC.db
/SmallVideoDemo/SmallVideoDemo/Debug/
/SmallVideoDemo/SmallVideoDemo/x64/
/SmallVideoDemo/SmallVideoDemo/material/